<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>WooTube A Fae Lexxxicon</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="https://woootube.herokuapp.com/assets/mystical_forest_lrg.jpg" />
    <meta property="og:description" content="A site dedicated to the documentation and desemination of the Faerie Lexxxicon around te world. A tribue to the Lapis' Empress Jupiters' and Marzipams' of the world" />
<!--     <link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet"> -->
    <%= stylesheet_link_tag "style.css", media: "all" %>
    <%= javascript_include_tag "application" %>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!--     <link href="app/assets/stylesheets/styles.css" rel="stylesheet"> -->
  </head>
  <body>
<div class="container-full">

      <div class="row">

        <div class="col-lg-12 text-center v-center">

          <h1>WooTube</h1>
          <p class="lead">Coming Soon</p>

          <br><br><br>
          <p class="lead">Get Involved...Get Luxxxuriated</p>
          <form class="col-lg-12">
            <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
            <input class="form-control input-lg" title="Don't worry. We hate spam, and will not share your email with anyone." placeholder="Enter your email address" type="text">
              <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
            </div>
          </form>
        </div>

      </div> <!-- /row -->

      <style>

      path {
        fill: #f88e22;
        stroke: #fff;
        stroke-width: 2px;
      }

      </style>
      <body>
      <script src="//d3js.org/d3.v3.min.js"></script>
      <script>

      var width = 960,
          height = 500;

      var velocity = [.010, .005],
          t0 = Date.now();

      var projection = d3.geo.orthographic()
          .scale(height / 2 - 10);

      var svg = d3.select("body").append("svg")
          .attr("width", width)
          .attr("height", height);

      var face = svg.selectAll("path")
          .data(icosahedronFaces)
        .enter().append("path")
          .each(function(d) { d.polygon = d3.geom.polygon(d.map(projection)); });

      d3.timer(function() {
        var time = Date.now() - t0;
        projection.rotate([time * velocity[0], time * velocity[1]]);

        face
            .each(function(d) { d.forEach(function(p, i) { d.polygon[i] = projection(p); }); })
            .style("display", function(d) { return d.polygon.area() > 0 ? null : "none"; })
            .attr("d", function(d) { return "M" + d.polygon.join("L") + "Z"; });
      });

      function icosahedronFaces() {
        var faces = [],
            y = Math.atan2(1, 2) * 180 / Math.PI;
        for (var x = 0; x < 360; x += 72) {
          faces.push(
            [[x +  0, -90], [x +  0,  -y], [x + 72,  -y]],
            [[x + 36,   y], [x + 72,  -y], [x +  0,  -y]],
            [[x + 36,   y], [x +  0,  -y], [x - 36,   y]],
            [[x + 36,   y], [x - 36,   y], [x - 36,  90]]
          );
        }
        return faces;
      }

      </script>


      <div class="row">

        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
          <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a>  <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
        </div>

      </div>

    <br><br><br><br><br>

</div> <!-- /container full -->

<div class="container">

    <hr>

    <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Hello.</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Hello.</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Hello.</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
    </div>

  <div class="row">
        <div class="col-lg-12">
        <br><br>
          <p class="pull-right"><a href=""></a> &nbsp; ©Copyright 2015 Octagon Entertainment<sup>TM</sup> </p>
        <br><br>
        </div>
    </div>
</div>


  <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
