html,body {
  height:100%;
}

h1 {
  font-family: 'Bangers', Arial,sans-serif;
  font-size: 80px;
  color:rgba(128,0,128,.8);
  /*font-weight: bold;*/
}

.lead {
	color:rgba(128,0,128,.7);
/*  font-weight: bold;*/
  font-family: 'Bangers', Arial,sans-serif;
  font-weight: bold;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  /*background-color:#110022;*/
  background-image: url("/assets/mystical_forest_lrg.jpg") !important;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

